@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse3d {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.pulse3d {
	animation-name: pulse3d;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.drawer-content-custom {
	z-index: 0;
	overflow-y: auto;
	transition-property: all;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.drawer-side-custom {
	grid-column-start: 1;
	grid-row-start: 1;
	display: grid;
	overflow-x: hidden;
}

/* .btn-outline { */
/* 	@apply hover:bg-transparent; */
/* } */
